@import url("https://fonts.googleapis.com/css2?family=Meddon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Candal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  background: #100e1a;
  overflow-x: hidden;
  transition: all 0.5s ease;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 10rem;
  transition: all 0.3s ease !important;
}

#header {
  transition: all 0.5s;
  z-index: 997;
}

#header .logo {
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  letter-spacing: 1px;
  font-family: sans-serif, cursive;
}

.navi {
  max-width: auto;
  margin: auto;
}

.navbur {
  background: #1d1836;
  padding: 30px;
  transition: all 0.2s ease;
}

nav {
  display: flex;
  float: right;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu ul li {
  margin-left: 20px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.nav-menu ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  width: 0;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu .active a:before,
.nav-menu a:hover:before,
.nav-menu li:hover a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu .active a,
.nav-menu a:hover,
.nav-menu li:hover a {
  color: #fff;
}

.descript {
  margin-top: 120px;
}

.initial-0 {
  color: #fff;
}

.initial-0 h1 {
  margin-bottom: 10px;
  color: #fff;
  font-size: 2.4rem;
}

.initial-0 h3 {
  margin-bottom: 30px;
  font-size: 18px;
}

.initial-0 #hey {
  margin-bottom: 30px;
}

.initial-0 p {
  font-size: 16px;
}

.initial-1 img {
  width: 90%;
  margin-bottom: 50px;
}

.button {
  margin-top: 20px;
}

.button .main-button {
  padding-left: 100px;
}

.initial-0 button {
  border-radius: 5px;
  border: none;
  height: 50px;
  width: 100px;
  background: #114985;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  outline: 0;
  transition: 0.2s;
}

.initial-0 button:hover {
  background: #002f60;
}

button:nth-child(2) {
  margin-left: 20px;
}

.social,
.social1 {
  margin-top: 20px;
  margin-bottom: 50px;
}

.social i,
.social1 i {
  margin-right: 10px;
  font-size: large;
}

.its-me {
  margin-top: 100px;
}

.about .row2 {
  display: flex;
  max-width: auto;
  margin: auto;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  color: #fff;
  font-family: Montserrat, sans-serif;
}

.icons img {
  width: 35px;
}

.icons p {
  font-size: 13px;
}


.initial-4 .title h1 {
  font-size: 2.4rem;
  color: #fff;
  margin-bottom: 50px;
  font-family: Candal, sans-serif;
}

.initial-4 {
  flex-basis: 90%;
  font-size: 15px;
  padding-right: 40px;
}

.about .icons {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about .icons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.icons i {
  font-size: 34px;
}

.skills {
  padding: 50px 0;
}

.contrast-outline {
  margin-top: 60px;
}

.invert {
  display: flex;
  color: rgb(12, 151, 175);
  justify-content: center;
  align-items: center;
  padding-left: 7px;
}

.initial-5 {
  color: #fff;
}

.row9 {
  display: flex;
  flex-wrap: wrap;
}

.skills .title h1,
.skills .title2 h1,
.skills .title3 h1,
.skills .title4 h1 {
  font-family: Candal, sans-serif;
  margin: auto;
  margin-bottom: 50px;
  color: #fff;
  font-size: 2.4rem;
}

.bar-info {
  position: relative;
  width: 60%;
  height: 10px;
  background-color: #fff;
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.bar-info .p1 {
  position: absolute;
  font-size: 12px;
  left: 0;
  padding-bottom: 13px;
  color: #fff;
}

.bar-info .p2 {
  position: absolute;
  font-size: 12px;
  padding-bottom: 13px;
  right: 0;
  color: #fff;
}

.bar {
  width: 100%;
  height: 10px;
  background-color: #fff;
  border: 1px solid #939393;
  border-radius: 20px;
  position: relative;
}

.fill-bar {
  height: 100%;
  background-color: #3081d1;
  border-radius: 20px;
}

.work {
  max-width: 1250px;
}

.bar-info1 {
  position: relative;
  width: 90%;
  height: 50px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-info1 .achv {
  position: absolute;
  color: #fff;
  justify-content: center;
  align-items: center;
  left: 0;
  font-size: 20px;
}

.pp1 {
  position: absolute;
  font-size: 13px;
  left: 0;
  padding-top: 50px;
  color: #fff;
}

.pp2 {
  position: absolute;
  font-size: 16px;
  color: #fff;
  padding-top: 15px;
  justify-content: center;
  align-items: center;

}

.btn {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  right: 0;
}

.button1 {
  position: absolute;
  background: #114985;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  right: 0;
  transition: 0.2s;
}

.button1:hover {
  background: #002f60;
}

.row3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.initial-6 {
  background: #1d1836;
  width: 500px;
  height: 350px;
  color: #fff;
  border-radius: 20px;
  padding: 15px;
  transition: ease 0.5s;
  position: relative;
  text-align: center;
  transition: all ease-in-out 0.3s;
}

.initial-6 h3 {
  font-size: 26px;
}

.initial-6 button {
  background: #114985;
  color: #fff;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  transition: all 0.2s ease;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.initial-6 button:hover {
  background: #002f60;
}

.row3 .initial::after {
  color: #fff;
  transition: all ease-in-out 0.5s;
}

.title2 {
  font-family: Candal, sans-serif;
  margin: auto;
  color: #fff;
  font-size: 2.4rem;
}

.title3 {
  font-family: Candal, sans-serif;
  margin: auto;
  color: #fff;
  font-size: 2.4rem;
}

.initial-6 img {
  width: 100%;
  height: 60%;
}

footer {
  max-width: 1200px;
  margin: auto;
  margin-top: 80px;
  color: #fff;
}

.row4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: 50px;
}

.initial-7 img {
  width: 100%;
}

.initial-0 img {
  width: 90%;
  margin-top: 50px;
}

.initial-1 img
{
  width: 90%;
  align-items: center;
}
.col #helo {
  margin-bottom: 20px;
}

.contact-info {
  margin-bottom: 20px;
  font-weight: 100;
  font-family: Poppins, sans-serif;
}

.col i {
  font-size: 20px;
}

.contact-info #io {
  font-family: Poppins, sans-serif;
  margin-left: 10px;
  font-size: 17px;
  font-weight: 600;
}

.c-ico span {
  padding-left: 0;
}

.c-ico i {
  margin-bottom: 10px;
  color: #7b7b7b;
}


.footing {
  margin-top: 50px;
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.social,
.social1 {
  display: flex;
  align-items: center;
}

.social i,
.social1 i {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  width: 30px;
  height: 30px;
  font-size: 24px;
  transition: all 0.5s;
}

.contact-info p {
  font-size: 13px;
  font-weight: 100;
  color: #fff;
}

.contact-info span {
  color: #fff;
}

.footing p {
  font-size: 14px;
  line-height: 3px;
  font-family: Poppins, sans-serif;
}


.django {
  margin-bottom: 50px;
}

#e {
  width: 25px;
  position: absolute;
  top: -3px;
  margin-left: 5px;
}

.navbur.scrolled {
  background: #1d1836 !important;
  transition: background-color 0.2s linear;
}

#copy {
  text-transform: lowercase;
}

#big {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
}

.icons i,
ion-icon {
  cursor: pointer;
}

.social i:hover,
.social1 i:hover {
  background: #7b7b7b;
  color: #000;
}

.up-arrow {
  position: relative;
}

.arrow {
  position: absolute;
  right: 20px;
  bottom: 50px;
}

.arrow i {
  background: #3081d1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  font-size: 28px;
  color: #fff;
  border-radius: 5px;
}

@media only screen and (max-width: 1300px) {
  .col-8 {
    flex-basis: 90%;
  }

  .container {
    max-width: 90%;
    margin: auto;
  }

  .initial-6 {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1024px) {

  .title,
  .title2,
  .title3,
  .title4 {
    margin: auto;
  }

  .initial-0 button {
    height: 50px;
    width: 100px;
    font-size: 16px;
  }

  .initial-0 img {
    width: 90%;
    margin-top: 50px;
  }

  .container {
    max-width: 90%;
    margin: auto;
  }

  .initial-4 {
    font-size: 14px;
  }

  .initial-6 {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .footing {
    font-size: 12;
  }
}

@media only screen and (max-width: 885px) {

  .container {
    max-width: 90%;
    margin: auto;
  }

  #header .logo {
    font-size: 22px;
  }

  .row {
    text-align: center;
  }

  .initial-0 img {
    width: 90%;
  }

  .initial-0 p {
    font-size: 13px;
  }

  .initial-0 h1 {
    font-size: 2rem;
  }

  .initial-0 h3 {
    font-size: 16px;
  }

  .initial-4 {
    font-size: 14px;
    text-align: center;
  }

  .initial-0 button {
    height: 45px;
    width: 90px;
    font-size: 15px;
  }

  .button button {
    height: 40px;
    width: 80px;
    font-size: 16px;
  }

  .nav-menu a {
    font-size: 14px;
    font-weight: 600;
  }

  .nav-menu ul li {
    padding: 10px;
  }

  .bar-info1 .achv {
    font-size: 16px;
  }

  .pp1 {
    font-size: 13px;
  }

  .pp2 {
    font-size: 15px;
  }

  .button1 {
    width: 70px;
    height: 35px;
    font-size: 15px;
  }


  .social {
    justify-content: center;
  }

  .title,
  .title2,
  .title3,
  .title4 {
    text-align: center;
  }

  .skills .title h1,
  .skills .title2 h1,
  .skills .title3 h1,
  .skills .title4 h1 {
    font-size: 2.3rem;
  }

  .initial-4 .title h1 {
    font-size: 2.3rem;
  }

  .icons {
    justify-content: center;
  }

  .icons img {
    width: 30px;
  }

  .icons p {
    font-size: 12px;
  }

  .initial-6 {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .initial-6 h3 {
    font-size: 24px;
  }

  .col-8 {
    flex-basis: 80%;
    font-size: 12px;
  }

  .footing {
    font-size: 12;
  }

  .col {
    font-size: 10px;
  }

  .navbar {
    background: 0 0;
  }

  .logo {
    padding-left: 20px;
  }


  .menu {
    display: inline-block;
  }

}

@media only screen and (max-width: 768px) {

  #header .logo {
    font-size: 20px;
  }

  .initial-1 img {
    margin-top: 50px;
    width: 90%;
  }

  .nav-menu a {
    font-size: 14px;
    font-weight: 600;
  }

  .nav-menu ul li {
    padding: 5px;
  }

  .initial-0 img,
  .initial-2 img,
  .initial-7  {
    width: 75%;
  }

  .initial-8 {
    margin-top: 30px;
    text-align: center;
  }

  .row {
    text-align: center;
  }

  .initial-0 {
    font-size: 13px;
    text-align: center;
  }

  .initial-4 {
    font-size: 13px;
    text-align: center;
  }

  .initial-6 {
    margin-bottom: 20px;
    font-size: 13;
  }

  .initial-6 h3 {
    font-size: 22px;
  }

  .initial-0 button {
    height: 45px;
    width: 90px;
    font-size: 15px;
  }

  .c-ico {
    text-align: center;
    color: #7b7b7b;
  }

  .button button {
    height: 40px;
    width: 80px;
    font-size: 16px;
  }

  .bar-info1 .achv {
    font-size: 14px;
    max-width: 190px;
  }

  .pp1 {
    font-size: 11px;
    padding-top: 55px;
  }

  .pp2 {
    font-size: 12px;
  }

  .button1 {
    width: 60px;
    height: 30px;
    font-size: 12px;
  }

  .social {
    justify-content: center;
  }

  .social1 {
    justify-content: center;
  }

  .title,
  .title2,
  .title3,
  .title4 {
    text-align: center;
  }

  .skills .title h1,
  .skills .title2 h1,
  .skills .title3 h1,
  .skills .title4 h1 {
    font-size: 2rem;
  }

  .initial-4 .title h1 {
    font-size: 2rem;
  }

  .icons {
    justify-content: center;
  }

  .icons img {
    width: 30px;
  }

  .icons p {
    font-size: 12px;
  }

  .col-8 {
    flex-basis: 80%;
    font-size: 12px;
  }

  .footing {
    font-size: 12;
  }

  .initial-6 {
    font-size: 13px;
  }

  .col {
    font-size: 12px;
  }

  .logo {
    padding-left: 20px;
  }


  .menu {
    display: inline-block;
  }
}

@media only screen and (max-width: 450px) {
  #e {
    display: none;
  }

  .button button {
    height: 40px;
    width: 80px;
    font-size: 16px;
  }


}

@media only screen and (max-width: 360px) {

  .main-button {
    margin-top: 100px;
  }

  .navi {
    padding-left: 0;
  }
}

p {
  font-family: Montserrat, sans-serif;
}

body.dark-theme {
  background-color: #fff !important;
  transition: all 0.5s ease !important;
}

body.dark-theme .initial-6 {
  background: #fff !important;
  transition: all 1s ease !important;
}

body.dark-theme .navbur {
  background: #abe8e6 !important;
  transition: all 0.5s ease !important;
}

body.dark-theme .nav-menu ul li a:before {
  background-color: #3081d1;
}

body.dark-theme a,
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme h5,
body.dark-theme h6,
body.dark-theme p {
  color: #373737 !important;
}

body.dark-theme .contact-info #io {
  color: #373737 !important;
}

body.dark-theme .contact-info span {
  color: #373737 !important;
}

/* body.dark-theme .icofont-navigation-menu {
  color: #222 !important;
} */

body.dark-theme .active {
  color: #3081d1 !important;
}

body.dark-theme .nav-menu .active a,
body.dark-theme .nav-menu a:hover,
body.dark-theme .nav-menu li:hover a {
  color: #3081d1 !important;
  text-decoration: none !important;

}

body.dark-theme .navbur.scrolled {
  background: #a0e8e6 !important;
  transition: all 0.5s linear;
}